In [8]:
for i in range(1,6):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *

In [9]:
for i in range(1,6):
    print(f'{i} '*i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [10]:
for i in range(1,6):
    for j in range(1,i+1):
        print(f'{j}', end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
n = 2
for i in range(1,6):
    num=n
    for j in range(1,i+1):
        print(f'{num}', end=" ")
        num += 1
    n += 1
    print()

2
3 4
4 5 6
5 6 7 8
6 7 8 9 10

In [11]:
n = 1
for i in range(1,6):
    num=n
    for j in range(1,i+1):
        if num%2==0:
            print(f'0', end=" ")
        else:
            print(f'1', end=" ")
        num += 1
    n += 1
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [14]:
n=1
for i in range(1, 6):
    for j in range(1, i+1):
        print(f'{n}', end=" ")
        n += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [8]:
rows = 5

for i in range(1, rows + 1):
    for j in range(rows, rows - i, -1):
        print(j, end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [9]:
rows = 5

for i in range(rows, 0, -1):
    for j in range(rows - i + 1):
        print(i, end=" ")
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [10]:
rows = 5

for i in range(rows, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [15]:
i=5
n=1
while i>=1:
    s=str(n)*i
    print(s)
    if i<=5//2+1:
        n=n-1
    else:
        n=n+1
    i=i-1

11111
2222
333
22
1

In [17]:
rows = 5
for i in range(rows, 0, -1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [18]:
rows = 5
for i in range(rows, 0, -1):
    for j in range(i):
        print(i, end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [19]:
rows = 5
for i in range(rows, 0, -1):
    for j in range(rows, rows - i, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [20]:
rows = 5
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end=" ")
    for k in range(2 * i + 1):
        print("*", end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [21]:
rows = 5
for i in range(1, rows + 1):
    for j in range(rows - i):
        print(" ", end=" ")
    for k in range(2 * i - 1):
        print(i, end=" ")
    print()

        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [22]:
rows = 5
for i in range(1, rows + 1):
    for j in range(rows - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        print(k, end=" ")
    print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [24]:
rows = 5
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end=" ")
    for k in range(2 * i + 1):
        print("*", end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [27]:
n=0
for i in range(1,6):
    st=''
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))

    1
   232
  34543
 4567654
567898765

In [28]:
for i in range(1,6):
    st=''
    n=6
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))

    5
   545
  54345
 5432345
543212345

In [29]:
for i in range(5,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+'*'
    print(s.center(10))

*********
 *******
  *****
   ***
    *

In [30]:
n=5
for i in range(5,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+str(n)
    print(s.center(10))
    n=n-1

555555555
 4444444
  33333
   222
    1

In [31]:
for i in range(5,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+str(j)
    print(s.center(10))

123456789
 1234567
  12345
   123
    1

In [32]:
for i in range(5,0,-1):
    st=''
    n=i-1
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))

567898765
 4567654
  34543
   232
    1

In [33]:
for i in range(5,0,-1):
    st=''
    n=6
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))

543212345
 5432345
  54345
   545
    5

In [34]:
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+'*'
    print(s.center(10))
for i in range(4,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+'*'
    print(s.center(10))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [35]:
n=1
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+str(n)
    print(s.center(10))
    n=n+1
n=4
for i in range(4,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+str(n)
    print(s.center(10))
    n=n-1

    1
   222
  33333
 4444444
555555555
 4444444
  33333
   222
    1

In [36]:
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+str(j)
    print(s.center(10))
for i in range(4,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+str(j)
    print(s.center(10))

    1
   123
  12345
 1234567
123456789
 1234567
  12345
   123
    1

In [37]:
n=0
for i in range(1,6):
    st=''
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))
for i in range(4,0,-1):
    st=''
    n=i-1
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))

    1
   232
  34543
 4567654
567898765
 4567654
  34543
   232
    1

In [38]:
for i in range(1,6):
    st=''
    n=6
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))
for i in range(4,0,-1):
    st=''
    n=6
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))

    5
   545
  54345
 5432345
543212345
 5432345
  54345
   545
    5

In [39]:
for i in range(1,8):
    for j in range(1,8):
        print('*',end='')
    print()

*******
*******
*******
*******
*******
*******
*******

In [40]:
for i in range(1,8):
    for j in range(1,8):
        if i in (1,7):
            print('*',end='')
        elif j in (1,7):
            print('*',end='')
        else:
            print(' ',end='')
    print()

*******
*     *
*     *
*     *
*     *
*     *
*******

In [41]:
for i in range(1,8):
    for j in range(1,8):
        if i==j:
            print('\\',end='')
        elif i+j==8:
            print('/',end='')
        else:
            print('*',end='')
    print()

\*****/
*\***/*
**\*/**
***\***
**/*\**
*/***\*
/*****\

In [43]:
r=int(input('Enter no of rows: '))
c=int(input('Enter no of columns: '))
for i in range(1,r//2+1):
    s=''
    for j in range(1,2*i):
        s=s+'.|.'
    print(s.center(c,'-'))
print('WELCOME'.center(c,'-'))
for i in range(r//2,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+'.|.'
    print(s.center(c,'-'))

Enter no of rows: 11
Enter no of columns: 33
---------------.|.---------------
------------.|..|..|.------------
---------.|..|..|..|..|.---------
------.|..|..|..|..|..|..|.------
---.|..|..|..|..|..|..|..|..|.---
-------------WELCOME-------------
---.|..|..|..|..|..|..|..|..|.---
------.|..|..|..|..|..|..|.------
---------.|..|..|..|..|.---------
------------.|..|..|.------------
---------------.|.---------------

In [44]:
s=int(input('Enter size: '))
for i in range(1,s+1):
    l=[]
    n=97+s
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        l.append(chr(n))
    st='-'.join(l)
    print(st.center(37,'-'))
for i in range(s-1,0,-1):
    l=[]
    n=97+s
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        l.append(chr(n))
    st='-'.join(l)
    print(st.center(37,'-'))

Enter size: 10
------------------j------------------
----------------j-i-j----------------
--------------j-i-h-i-j--------------
------------j-i-h-g-h-i-j------------
----------j-i-h-g-f-g-h-i-j----------
--------j-i-h-g-f-e-f-g-h-i-j--------
------j-i-h-g-f-e-d-e-f-g-h-i-j------
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
j-i-h-g-f-e-d-c-b-a-b-c-d-e-f-g-h-i-j
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
------j-i-h-g-f-e-d-e-f-g-h-i-j------
--------j-i-h-g-f-e-f-g-h-i-j--------
----------j-i-h-g-f-g-h-i-j----------
------------j-i-h-g-h-i-j------------
--------------j-i-h-i-j--------------
----------------j-i-j----------------
------------------j------------------