In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
tips = pd.read_csv('tips.csv')

In [7]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [10]:
#Analysis of tips given by different genders

tips.groupby("sex").agg({"tip": ["min", "mean", "std", "max"]})

        tip
        min      mean       std   max
sex
Female  1.0  2.833448  1.159495   6.5
Male    1.0  3.089618  1.489102  10.0

In [12]:
#Maximum footfall on which day?

tips.groupby("day").agg({"size": ["sum"]})

     size
      sum
day
Fri    40
Sat   219
Sun   216
Thur  152

In [14]:
#Busiest time of the day?

tips.groupby("time").agg({"size": ["sum"]})

       size
        sum
time
Dinner  463
Lunch   164

In [16]:
#Do people that have higher bills pay more tips.

tips['tip'].describe()

count    244.000000
mean       2.998279
std        1.383638
min        1.000000
25%        2.000000
50%        2.900000
75%        3.562500
max       10.000000
Name: tip, dtype: float64

In [18]:
tips['total_bill'].describe()

count    244.000000
mean      19.785943
std        8.902412
min        3.070000
25%       13.347500
50%       17.795000
75%       24.127500
max       50.810000
Name: total_bill, dtype: float64

In [29]:
print(tips.query('total_bill>17.79')['total_bill'].describe())
print("---"*30)
print(tips.query('total_bill>17.79')['tip'].describe())

count    122.000000
mean      26.416557
std        7.837875
min       17.810000
25%       20.460000
50%       24.175000
75%       30.120000
max       50.810000
Name: total_bill, dtype: float64
------------------------------------------------------------------------------------------
count    122.000000
mean       3.731393
std        1.463406
min        1.170000
25%        3.000000
50%        3.500000
75%        4.460000
max       10.000000
Name: tip, dtype: float64

In [30]:
print(tips.query('total_bill<17.79')['total_bill'].describe())
print("---"*30)
print(tips.query('total_bill<17.79')['tip'].describe())

count    122.000000
mean      13.155328
std        3.011939
min        3.070000
25%       10.832500
50%       13.325000
75%       15.800000
max       17.780000
Name: total_bill, dtype: float64
------------------------------------------------------------------------------------------
count    122.000000
mean       2.265164
std        0.787005
min        1.000000
25%        1.687500
50%        2.000000
75%        2.717500
max        5.150000
Name: tip, dtype: float64

In [35]:
#Analysis of total bill/money spend and tips by various family sizes

tips.groupby("size").agg(
    {"total_bill" : ['max', 'min', 'mean', 'std'],
    "tip" : ['max', 'min', 'mean', 'std']}
)

     total_bill                                tip
            max    min       mean       std    max   min      mean       std
size
1         10.07   3.07   7.242500  3.010729   1.92  1.00  1.437500  0.506516
2         40.55   5.75  16.448013  6.043729   5.85  1.00  2.582308  0.985501
3         50.81  10.33  23.277632  9.407065  10.00  1.36  3.393158  1.557344
4         48.33  16.49  28.613514  8.608603   9.00  2.00  4.135405  1.640668
5         41.19  20.69  30.068000  7.340396   5.14  2.00  4.028000  1.440111
6         48.17  27.05  34.830000  9.382000   6.70  4.20  5.225000  1.053170

In [5]:
#ananlysis on busiest time with majority(smoker or non smoker)

tips.groupby("time")['smoker'].value_counts()

time    smoker
Dinner  No        106
        Yes        70
Lunch   No         45
        Yes        23
Name: smoker, dtype: int64

In [6]:
#which time is more busy for which day?

tips.groupby("day")["time"].value_counts()

day   time
Fri   Dinner    12
      Lunch      7
Sat   Dinner    87
Sun   Dinner    76
Thur  Lunch     61
      Dinner     1
Name: time, dtype: int64

In [10]:
#maximum profit - smoker or non smoker

tips.groupby("smoker").agg({"total_bill" : "sum",
                          "tip" : "sum"})

        total_bill     tip
smoker
No         2897.43  451.77
Yes        1930.34  279.81